<launch>

	<node pkg="snapshotter" type="snapshotter.py" name="snapshotter_left" output="screen">
		<param name="camera" value="wide_stereo/left" />
		<param name="output" value="input_towels" />
	</node>
	
	<node pkg="snapshotter" type="snapshotter.py" name="snapshotter_right" output="screen">
		<param name="camera" value="wide_stereo/right" />
		<param name="output" value="input_towels" />
	</node>


    <node pkg="clothing_models" type="furthest_corner_node.py" name="furthest_corner_node" output="screen" >
        <param name="input" value="input_towels" />
        <param name="output" value="output_towel_corners" />
        <param name="threshold" value="90" />
        <param name="left_to_right" value="true" />
        <param name="model" value="$(find clothing_models)/towel_model.pickle" />
    </node>
</launch>
