<launch>
	<node pkg="snapshotter" type="snapshotter.py" name="snapshotter" output="screen">
		<param name="camera" value="wide_stereo/left" />
		<param name="output" value="snapshot_output" />
	</node>
	<node pkg="snapshotter" type="birdseye_filter.py" name="birdseye1" output="screen">
	    <param name="input" value="snapshot_output" />
	    <param name="output" value="birdseye1_output" />
	    <param name="filled" value="True" />
	</node>
	
	<node pkg="snapshotter" type="snapshot_saver.py" name="saver" output="screen">
	    <param name="input" value="birdseye1_output" />
	    <param name="default_filepath" value="~/snapshots" />
	    <param name="streaming" value="true" />
	</node>

</launch>
